.bg-gray-100 {
    background-color: EBF4DD !important;
}

.shadow-lg{
    background-color: 90AB8B !important ;
}

.bg-blue-500 {
    background-color: 5A7863 !important ;
}

.text-white {
    color: FFFF !important ;
}

.text-gray-500 {
    color: 009FBD !important ;
    font-weight: 500 !important;
    font-size: 16px !important;
    margin-left: 20px !important;
}

.font-medium {
    font-weight: 600 !important;
    font-size: 16px !important;
    color:071952 !important ;
}

.font-bold {
    font-size: 30px !important;
    text-align: center !important;
    margin-bottom: 35px !important;
}